{% extends 'base.html' %}

{% block content %}
<div class="news-list-container">

	<!-- list of news cards -->
	{% for news in toi %}
		{% if news.text != None %}
			<div class="news-container">
				<div class="news-headline-container">
					<div class="news-headline">
						<span class="headline"><a href={{news.link}}>{{news.text}}</a></span>
						<div class="headline-border">
							<span class="dot"></span>
							<span class="line"></span>
							<span class="dot"></span>
						</div>
						<span class="author">{{ author }}</span>
						<span style="margin-top:10px" class="author">{{ news.category }}</span>
					</div>
				</div>
				<div class="news-text">{{news.desc}}</div>
			</div>
		{% endif %}
	{% endfor %}

</div>
{% endblock content %}