{% extends 'base.html' %}

{% block content %}

<form action="" method="post" style="margin:5% 2%;">
	{% csrf_token %}
	{{ form }}
</form>

<div class="news-list-container">

	<!-- list of news cards -->
	{% if main.title != None %}
		<div class="summary-container">
			<div class="news-headline-container">
				<div class="news-headline">
					<span class="headline"><a href={{main.link}}>{{main.title}}</a></span>
					<div class="headline-border full-width">
						<span class="dot"></span>
						<span class="line"></span>
						<span class="dot"></span>
					</div>
					<span class="author">{{ main.author }}</span>
				</div>
			</div>
			<h5>Summary:</h5>
			<div>{{ main.summary}}</div>
		</div>
	{% endif %}

	
	{% if data|length %}
		<div class="headline-border">
			<span class="dot"></span>
			<span class="line"></span>
			<span class="dot"></span>
		</div>
		<h3>Other Links</h3>
	{% endif %}

	{% for news in data %}
		{% if news.title != None %}
			<div class="news-container">
				<div class="news-headline-container">
					<div class="news-headline">
						<span class="headline"><a href={{news.link}}>{{news.title}}</a></span>
						<div class="headline-border full-width">
							<span class="dot"></span>
							<span class="line"></span>
							<span class="dot"></span>
						</div>
						<span class="author">{{ news.author }}</span>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}

</div>
{% endblock content %}